<header>
	<% logo = image_tag("logo.jpg", :alt => "Sample App", :class => "round") %>
	<%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "About", about_path %></li>
	  <li><%= link_to "Forum", '#' %></li>
	  <li><%= link_to "Sign in", '#' %></li>
   	  <li><%= link_to "Register", register_path %></li>
    </ul>
  </nav>
</header>